@import url("https://use.typekit.net/rrx7tvd.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, *:after, *:before{
    margin: 0;
    padding: 0;
    font-family: muli, sans-serif;
    font-weight: 500;
    color: #393C51;
}